<h1 class="title has-text-centered">Kids World</h1>
<p class="subtitle has-text-centered">Buy and sell your old kid's stuff</p>

<h2 class="title is-small">Latest items for sale</h2>
<div class ="items">
<% @items.each do |item| %>
    <div class="item-div">
        <p><%= link_to image_tag(item.photo, class: "items-image"), item_path(item)%></p>
        <p><%= link_to item.title, item_path(item) %></p>
        <p><%= number_to_currency(item.price)%></p>
        <p><%= link_to 'Buy Now', new_purchase_path(id: item.id), class: "button is-primary" %></p>
    </div>
<% end%>
</div>

<%= link_to 'More', items_path, class: "button is-link is-pulled-right" %>