<%# I had to use @items.length > 0 because a user (with no items) has a blank active record. If I just put `if @items`, ruby thinks this is true %>
<% if @items.length > 0%>
<h2 class="title">Sold Items from <%= current_user.username %></h2>


    <%= link_to 'See your items for sale', seller_path(current_user), class: "button is-info" %>


<div class ="items">
<% @items.each do |item| %>
    <div class="item-div">
        <p>
            <% if item.photo.attachment %>
                <%= link_to image_tag(item.photo, class: "items-image"), item_path(item)%>
            <%end%>
        </p>
        <p><%= link_to item.title, item_path(item) %></p>
        <p><%= number_to_currency(item.price)%></p>
        <p>Purchased: <%= item.updated_at.to_date%> by (purchaser username - link to their profile)
    </div>
<% end%>
</div>

<%else%>
    <h3 class="title has-text-centered"><%=current_user.username%> currently has sold no items</h3>
<%end%>