 <%= render "shared/usermenu"%>

<h2 class="title">Receipt for <%= @item.title %></h2>

<p><strong>Your Order Details:</strong></p>
<table class="table">
<thead class="thead">
<tr>
<th>Item</th>
<th>Description</th>
<th>Price</th>
<th>Seller</th>
<th>Seller's Email</th>
</tr>
</thead>
<tbody class="tbody">
<tr class="tr">
<td class="td"><%= @item.title %></td>
<td class="td"><%= @item.description %></td>
<td class="td"><%= number_to_currency @item.price %></td>
<td class="td"><%= @item.seller.username %> </td>
<td class="td"><%= @item.seller.email %></td>
</tr>
</tbody>
</table>

