<div class="level-item">
    <p class="subtitle is-5"><%= link_to "Kid's World", root_path %></p>

</div>
<div class="level-item">
    <%= link_to "Toys", toys_path %>
</div>

<div class="level-item">
    <%= link_to "Books", books_path %>
</div>

<div class="level-item">
    <%= link_to "Clothes", clothes_path %>
</div>

<div class="level-item">
    <%= link_to "Accessories", accessories_path %>
</div>
 <% if user_signed_in? %>
<div class="level-item">
    <%= link_to 'Sell a New Item', new_item_path, class: "button is-success is-outlined" %>
</div>
 <% end %>