<h2 class="title has-text-centered"><%= @item.title%></h2>
<p class="subtitle has-text-centered"><strong>Seller:</strong> <%= link_to @item.seller.username, seller_path(@item.seller.id) %></p>

<div class="item">
    <div class="item-div">
            <p>
        <% if @item.photo.attachment %>
        <%= image_tag @item.photo, class: "item-image" %>
        <%end%>
        </p>
    </div>

    <div class="item-div">
        <p><strong>Description:</strong> <%= @item.description%></p>
        <p><strong>Condition:</strong> <%= @item.condition %></p>
        <p><strong>Category:</strong> <%= @item.category %></p>
        <p><strong>Price:</strong> <%= number_to_currency(@item.price) %></p>

        <% if @item.sold == false%>

            <% if user_signed_in?%>
                <% if @item.seller_id == current_user.id%>
                    <%= link_to "Edit", edit_item_path(id: @item.id), class: "button is-link" %>
                    <%= link_to "Delete", @item, method: "delete", class: "button is-danger" %>
                <%else%>
                    <p><%= link_to 'Buy Now', new_purchase_path(id: @item.id), class: "button is-primary", data: { turbolinks: false } %></p>
                <% end %>
            <% end %>
        <%else%>
            <p><strong>Sold:</strong> <%= @item.updated_at.to_date%></p>
            <p><strong>Purchased by:</strong> <%= @purchase.buyer.username%></p>
            <p><strong>Purchaser contact email:</strong> <%= @purchase.buyer.email%></p>
        <%end%>


    </div>
</div>