<!DOCTYPE html>
<html>
  <head>
    <title>KidsWorld</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <section class="section">
      <div class="container">


        <nav class="level">
          <div class="level-left">
            <%= render "shared/header"%>
          </div>

          <div class="level-right">
            <%# render "shared/signin" %>
          </div>
        </nav>


        <%= yield %>
      </div>
    </section>
  </body>
</html>
